.container{
    display: grid;

    grid-template-areas:
        "header header header"
        "nav content side"
        "footer footer footer";

    grid-auto-columns: 400px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;

    height: 100vh;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
    margin-left: 0.5rem;
}

main{
    grid-area: content;
}

aside{
    grid-area: side;
    margin-right: 0.5rem;
}

footer{
    grid-area: footer;
}

#color-select{
    padding-top: 3em;
}

#error{
    color: red;
}